@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    font-family: "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
    font-size: 0.875rem;
    color: #2a2a2a;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
}

header {
    height: 100vh;
    background-image: url(img/mainvisual.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    margin-bottom: 80px;
    position: relative;
}

.sitetitle {
    position: absolute;
    top: 30px;
    right: 30px;
}

.sectitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.article {
    text-align: center;
    margin-bottom: 80px;
}

.articlephoto {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.photoitem {
    width: 49%;
    position: relative;
}

.articletext {
    max-width: 290px;
    color: #fff;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 0;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}

.title {
    font-size: 1.25rem;
    margin-bottom: 2px;
}

.fashionstyle {
    height: 520px;
    background-image: url(img/fashion.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 80px;
}

.btn {
    color: #2a2a2a;
    border: solid 1px #2a2a2a;
    display: inline-block;
    font-size: 0.750rem;
    padding: 14px 36px;
    margin-top: 30px;
}

.catalogantique {
    background-color: #f5f5f5;
    padding: 60px 0;
}

.catalogantique {
    background-color: #f5f5f5;
}

.catalogantiqueitems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
}

.catalogantiqueitem {
    width: 48%;
    text-align: center;
}

.catalogantiqueitem img {
    width: 100%;
}

.catalogantiqueitem p {
    margin-bottom: 30px;
    text-align: left;
}

.catalogantiqueitem p:last-child {
    margin-bottom: 0;
}

footer {
    background-color: #333;
    font-size: 0.750rem;
}

.footeritems {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footeritem {
    width: 33%;
    line-height: 2;
}

.footeritem:first-child {
    padding: 60px 0;
}

.footeritem li::before {
    content: "-";
    margin-right: 5px;
}

.footeritemtitle {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.copyright {
    background-color: #fff;
    text-align: center;
    padding: 30px 0;
}
